.top {
  height: 5rem;
  width: 2rem;
  background-color: gold;
}
.trafficLight {
  justify-content: center;
  background-color: gold;
}
.light {
  height: 10rem;
  width: 10rem;
}
.redGlow {
  box-shadow:  0px 1px 17px 10px red;
}
.yellowGlow {
  box-shadow:  0px 1px 17px 10px yellow;
}
.greenGlow {
  box-shadow:  0px 1px 17px 10px green;
}
.blueGlow {
  box-shadow:  0px 1px 17px 10px blue;
}